.container-start {
    text-align: center;
}

.container-question {
    text-align: center;
}

.answers {
    width: 300px;
    list-style: none;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
.option {
    width: 100px;
    color: white;
    text-align: center;
    font-size: 26px;
    background-color: forestgreen;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

.container-end {
    text-align: center;
}

.questions-form {
    display:flex;
    justify-content: center;
}

.container-answerResult {
    text-align: center;
}

.questionNumber-Score > ul {
    list-style: none;
    text-align: center;
}

.container-restart {
    text-align: center;
}